doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://cdn.tailwindcss.com")
    script.
      tailwind.config = {
      theme: {
      extend: {
      colors: {
      primary: '#30A8F9',
      }
      }
      }
      } 
    link(href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js' integrity='sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==' crossorigin='anonymous' referrerpolicy='no-referrer') 
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js' integrity='sha512-zJYu9ICC+mWF3+dJ4QC34N9RA0OVS1XtPbnf6oXlvGrLGNB8egsEzu/5wgG90I61hOOKvcywoLzwNmPqGAdATA==' crossorigin='anonymous' referrerpolicy='no-referrer')
  body.bg-slate-300.flex.justify-center.pt-8
    block content
